ol.ol-marker-1 > li::marker { content: ""counter(list-item,lower-alpha)". "; }
ol.ol-marker-2 > li::marker { content: ""counter(list-item,decimal)". "; }
ol.ol-marker-3 > li::marker { content: ""counter(list-item,lower-roman)". "; }
